## ***Build `CNN` form

In [2]:
data_path = "../09-Hyperparameter-Tuning-Bayesian Search/fashion-mnist_train.csv"

In [3]:
import pandas as pd
df = pd.read_csv(data_path)

In [4]:
df.sample(3)

,label,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783,pixel784
44573,6,0,0,0,0,44,79,57,72,88,...,0,0,1,1,0,0,0,0,70,0
41065,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
36158,4,0,0,0,0,0,0,0,0,0,...,35,0,0,0,2,0,0,0,0,0